<h1>Listing fugas</h1>

<table>
  <tr>
    <th>Fuga name</th>
    <th>Fuga</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fugas.each do |fuga| %>
  <tr>
    <td><%= fuga.fuga_name %></td>
    <td><%= fuga.fuga_id %></td>
    <td><%= link_to 'Show', fuga %></td>
    <td><%= link_to 'Edit', edit_fuga_path(fuga) %></td>
    <td><%= link_to 'Destroy', fuga, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fuga', new_fuga_path %>
