<p id="notice"><%= notice %></p>

<p>
  <b>Fuga name:</b>
  <%= @fuga.fuga_name %>
</p>

<p>
  <b>Fuga:</b>
  <%= @fuga.fuga_id %>
</p>


<%= link_to 'Edit', edit_fuga_path(@fuga) %> |
<%= link_to 'Back', fugas_path %>
